<%= form_for @company , :html => {class: "", id: ""} do |f| %>
	<ul>
		<% if @company.errors.any? %>
			<%= @company.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		<% end %>
	</ul>

<p>Company Details</p>
	<div class="col s4">
		<div class="input_field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	</div>
<p>Building Floors Available</p>
	<% Building.all.each do |b| %>
		<%= f.fields_for :offices, b do |b_field| %>
			<%= b_field.hidden_field :id %>
			<div class="input_field">
			<%= b_field.label b.name %> <br>
			
			<!-- before ccb -->
			
			<%= b_field.collection_check_boxes :offices, b.empty_offices, :floor, :floor, include_hidden: false do |cb| %>
				<%= cb.label(class:"input_field") do %>
					<%= cb.check_box %>
					<span>
					<%= "#{cb.text}" %>
					</span>
				<% end %>
			<% end %>
			<!-- after ccb -->
			</div>
		<% end %>
		<br/>
	<% end %>
	<br>


	<%= f.submit %>
<% end %>
